<div class="row mt-5">
    <div class="col-md-3 col-12 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <i class="bi bi-file-earmark-text h1"></i>
                <h5 class="card-title mt-2">Paso 1</h5>
                <p class="card-text">Completa nuestro formulario de solicitud a continuación (precio: 40 €)</p>
            </div>
        </div>
    </div>


    <div class="col-md-3 col-12 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <i class="bi bi-file-earmark-pdf h1"></i>
                <h5 class="card-title mt-2">Paso 2</h5>
                <p class="card-text">Generamos y te enviamos una solicitud W-7 ITIN y una declaración de impuestos
                    1040-NR prellenada con tu información.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-12 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <i class="bi bi-pencil-square h1"></i>
                <h5 class="card-title mt-2">Paso 3</h5>
                <p class="card-text">Firmas y envías el paquete al IRS, junto con los documentos para verificar tu identidad.</p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-12 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <i class="bi bi-envelope-check h1"></i>
                <h5 class="card-title mt-2">Paso 4</h5>
                <p class="card-text">Recibes tu ITIN aproximadamente 12 semanas después. ¡No olvides pagar tus impuestos al IRS!</p>
            </div>
        </div>
    </div>

</div>