<div>
    <h1>Solicitud de Generación de ITIN (W-7) y Formulario de Impuestos 1040-NR</h1>
    <p> Nuestra solución para el ITIN ofrece un enfoque simple y económico para ayudar a los canadienses que no residen
        en EE. UU. a solicitar un ITIN con éxito. Deberás presentar un Formulario W-7 y una declaración de impuestos
        provisional válida (Formulario 1040-NR) ante el IRS.

        Al completar una breve serie de preguntas, utilizaremos tu información para generar una solicitud W-7 y un
        1040-NR completos, junto con instrucciones adicionales para su presentación.</p>

    <p>Es importante tener en cuenta que este método asume lo siguiente:</p>

    <p>✅ Eres un extranjero no residente (no posees una visa estadounidense, una tarjeta de residencia (green card) ni
        cumples con el test de presencia sustancial).</p>
    <p>✅ No has presentado previamente una declaración de impuestos en EE. UU.</p>
    <p>✅ No has recibido un formulario fiscal del IRS, como un Formulario 1099, W-2, etc.</p>
    <p>✅ No tienes ni calificas para obtener un número de seguro social de EE. UU.</p>
    <p>✅ No tienes ni calificas para obtener un número de seguro social de EE. UU.</p>

    <p> Si alguna de las condiciones anteriores no se aplica a ti, envíanos un correo electrónico antes de completar
        este formulario. Es posible que podamos ayudarte según tu situación.
        Antes de comenzar</p>

    <p>📌 Lee nuestras Declaraciones Legales y Preguntas Frecuentes.</p>
    <p>📌 Ten una idea aproximada de cuántos días pasaste en EE. UU. en cada uno de los últimos tres años.</p>
    <p>📌 Conoce las fechas de entrada y salida de EE. UU. en el último año calendario.</p>
    <p>📌 Ten a la mano la información de tu pasaporte.</p>

    <div class="row w-100 pb-5">
        <div class="col-md-6 col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" (click)="onStart()">Empezar</button>
        </div>
    </div>
</div>