<div class="container">
  <app-cards></app-cards>
  @if (step() === 0) {
    <app-start-process></app-start-process>
  } @else if (step() === 1) {
    <app-first-step-form
      (isFirstUserFormValid)="onFormValidityChanged($event)"
      [defaultValuesFirstUserForm]="firstStepForm()"
    ></app-first-step-form>
  } @else if (step() === 2) {
    <app-second-step-form></app-second-step-form>
  }
</div>
@if (step() > 0) {
  <app-floating-bar
    [isFirstUserFormValid]="isFirstUserFormValid"
    [isBackButtonPresent]="step()>1"
  ></app-floating-bar>
}
