<form [formGroup]="userForm">
  <h4 class="border-bottom pb-2 mb-5">Personal information</h4>
  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-12 mb-4">
        <label for="firstName">Nombre</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName">
      </div>
      <div class="col-md-4 col-12 mb-4">
        <label for="lastName1">Primer apellido</label>
        <input type="text" class="form-control" id="lastName1" formControlName="lastName1">
      </div>
      <div class="col-md-4 col-12 mb-4">
        <label for="lastName2">Segundo apellido</label>
        <input type="text" class="form-control" id="lastName2" formControlName="lastName2">
      </div>
    </div>

  </div>


</form>
