<form [formGroup]="userForm" class="pb-100">
  <h4 class="border-bottom pb-2 mb-5 mt-5">Dirección postal</h4>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4 col-12 mb-4">
        <label for="direction">Dirección</label>
        <input type="text" class="form-control" id="direction" formControlName="direction">
      </div>
      <div class="col-md-4 col-12 mb-4">
        <label for="city">Ciudad</label>
        <input type="text" class="form-control" id="city" formControlName="city">
      </div>
      <div class="col-md-4 col-12 mb-4">
        <label for="postalCode">Código postal</label>
        <input type="text" class="form-control" id="postalCode" formControlName="postalCode">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-12 mb-4">
        <label for="province">Provincia</label>
        <input type="text" class="form-control" id="province" formControlName="province">
      </div>
      <div class="col-md-4 col-12 mb-4">
        <label for="country">País</label>
        <input type="text" class="form-control" id="country" formControlName="country">
      </div>
    </div>

  </div>

</form>
