<!-- <div class="floating-bar d-flex align-items-center">
    <div class="row">
        <button type="submit" class="btn btn-primary" (click)="onCancel()">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="onNext()">Siguiente</button>
    </div>
</div> -->

<div class="floating-bar d-flex align-items-center w-100">
    <div class="d-flex justify-content-between w-100">
        <button type="submit" class="btn btn-secondary ml-5" (click)="onCancel()">Cancelar</button>
        <button type="submit" class="btn btn-primary mr-5" (click)="onNext()">Siguiente</button>
    </div>
</div>