<form>
    <h3 class="border-bottom pb-2 mb-5">Personal information</h3>
    <div class="form-group row">
        <div class="col">
            <label for="firstName">Nombre</label>
            <input type="type=" class="form-control" id="firstName">
        </div>
        <div class="col">
            <label for="lastName1">Nombre</label>
            <input type="type=" class="form-control" id="lastName1">
        </div>
        <div class="col">
            <label for="lastName2">Nombre</label>
            <input type="type=" class="form-control" id="lastName2">
        </div>

    </div>

  </form>